* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$red: #c6001d;
$white: #fffff7;
$dark: #290006;
$break: #fafffa;

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  min-height: 12vh;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;

  box-shadow: 0px 1px 10px -5px #000;
  border-bottom: 4px solid $dark;
  padding: 10px 1rem;
  background-color: $white;

  h1 {
    line-height: 130%;

    > img {
      height: min(7vw, 2.3rem);
    }
    span {
      font-family: "Allura", serif;
      font-weight: 400;
      font-size: min(15vw, 5rem);
      color: #ffef00;
      text-shadow: 1px 1px 2px #c6001d;
      margin-left: -1.5rem;
    }
  }
}

#versus-select {
  padding-top: 2rem;
  background-color: $white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  font-family: "Open Sans", sans-serif;
  color: $dark;

  h3 {
    text-align: center;
    font-size: 1.5rem;
    max-width: max(50vmin, 600px);
  }

  p {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 1rem;
    text-align: center;
    color: #3e6d37;
  }

  label {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: -0.5rem;
  }

  select {
    width: max(50vmin, 300px);
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    padding: 1px 1rem;
    text-align: center;
    background-color: white;
    border: 1px solid $dark;
    color: #3e6d37;
    border-radius: 5px;
    box-shadow: inset 0px 5px 10px -10px #000;

    option {
      width: 230px;
      background-color: inherit;
    }
  }
}
