* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$red: #c6001d;
$white: #fffff7;
$dark: #290006;
$break: #fafffa;

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  // min-height: 20vh;
  min-height: 12vh;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;

  box-shadow: 0px 1px 10px -5px #000;
  border-bottom: 4px solid $dark;
  padding: 10px 1rem;
  // padding: 1rem 1rem;
  background-color: $white;

  h1 {
    line-height: 130%;

    > img {
      // height: 7rem;
      height: min(7vw, 2.3rem);
      // margin-bottom: -1rem;
    }

    span:first-child {
      font-family: "Open Sans", sans-serif;
      color: $red;
      font-size: min(10vw, 3rem);
      white-space: nowrap;
    }
    span:last-child {
      font-family: "Allura", serif;
      font-weight: 400;
      font-size: min(15vw, 5rem);
      color: #ffef00;
      text-shadow: 1px 1px 2px #c6001d;
      margin-left: -1.5rem;
    }
  }
}

#versus-select {
  padding-top: 2rem;
  background-color: $white;
  width: 100%;
  display: flex;
  justify-content: center;

  select {
    width: max(50vmin, 300px);
    font-size: 1.3rem;
    padding: 2px 1rem;
    text-align: center;
    background-color: white;
    border: 2px solid$dark;
    border-radius: 5px;
    box-shadow: inset 0px 5px 10px -10px #000;

    option {
      width: 230px;
      background-color: inherit;
    }
  }
}
